<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Moment 1</title>
  </head>
  <body>
    <%- include("navbar") %>
    <main>
   <h2>Kurser</h2>
   <ul class="course-list"><%courses.forEach(course => { %>
    <li>Namn:<%= course.name %> </li>
            <li>Kurskod: <%= course.code %></li>
            <li>Förlopp: <%= course.progression %></li>
            <li>Syllabus: <%= course.syllabus %></li>
            <br>
        
   <% }); %></ul>
    </div>
   </div>
    </main>
    <footer>
        <%- include("footer") %>
      </footer>
  </body>
</html>
